body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header,
.content,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media (max-width: 700px) {
  body > a > img {
    display: none;
  }
}


.container-narrow > hr {
  margin: 30px 0;
}

.try-it-out textarea {
  font-family: monospace;
  resize: vertical;
}

#legalize-it-button {
    margin-bottom: 20px;
}

